
<h1>Square Results</h1>
<p>Number: <%= number_with_precision(@number, precision: 4) %></p>
<p>Square: <%= number_with_precision(@result, precision: 4) %></p>
<%= link_to "Calculate another square", "/square/new" %>
